<%= provide(:title, "About page")%>
  <h1>Sample App | About Blog</h1>
  <p>
    This is the home page for the 
    <a href="https://www.railstutorial.org/">Ruby on rails Tutorials</a>
    sample application.
  </p>
