<%= provide(:title, "Help page")%>
<h1>Sample App | Help Blog</h1>
<p>
  This is the Help page for the 
  <a href="https://www.railstutorial.org/">Ruby on rails Tutorials</a>
  sample application.
</p>
